<div class="container">
  <div class="header_wrap">
    <div class="num_rows">
      <div class="form-group">
        <select
          class="form-control"
          name="state"
          id="maxRows"
          #maxRows
          (change)="onOptionsSelected(maxRows.value)"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="70">70</option>
          <option value="100">100</option>
          <option value="10000" selected>Show ALL Rows</option>
        </select>
      </div>
    </div>
  </div>
  <table class="table table-striped table-class" id="table-id" #dataTable>
    <thead>
      <tr>
        <th *ngFor="let item of dataHeadings">{{ item | titlecase }}</th>
        <th>Action Button</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td *ngFor="let column of dataHeadings">{{ row[column] }}</td>
        <td><button (click)="onClickButton(row)">Submit Row</button></td>
      </tr>
    </tbody>
  </table>

  <!--		Start Pagination -->
  <div *ngIf="pages && pages.length" class="pagination-container">
    <nav>
      <ul class="pagination">
        <li
          *ngFor="let page of pages"
          class="page-item"
          [ngClass]="{ active: page.active }"
        >
          <a class="page-link" (click)="selectPage(page)">{{ page }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
