body {
  background-color: #eee;
}
table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table th,
table td {
  text-align: center;
}

/* table tr:nth-child(even) {
  background-color: #e4e3e3;
} */

th {
  background: #333;
  color: #fff;
}

.pagination:nth-child(1) {
  color: black;
  margin: 0;
  display: inline-flex;

  display: flex;
  float: left;
  cursor: pointer;
  list-style-type: none;
}

.pagination li:hover {
  cursor: pointer;
}

.header_wrap {
  padding: 30px 0;
}
.num_rows {
  width: 20%;
  float: left;
}
.tb_search {
  width: 20%;
  float: right;
}
.pagination-container {
  width: 70%;
  float: left;
}

.rows_count {
  width: 20%;
  float: right;
  text-align: right;
  color: #999;
}
.table {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}
sr-only {
  background-color: pink;
  color: red;
}
table tr {
  cursor: pointer;
}
tr:hover {
  background-color: #e4e3e3;
}

tr:hover td {
  background-color: transparent; /* or #000 */
}
table {
  border-collapse: collapse;
}
tr {
  border: solid;
  border-width: 1px 0;
}
table {
  border: none;
  border-collapse: collapse;
}
table td {
  border-left: 1px solid #000;
}
table td:first-child {
  border-left: none;
}
.pagination {
  border: "1px solid #ddd";
  color: "black";
  padding: "15px";
  padding: 0;
}
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
